
.footer {
  background: #0d253c;
  margin-top: 100px;
  padding: 20px 0 0 0;
  position: relative;
  width: 100%;
  display: inline-block;
}
.footer-main {
  width: 1340px;
  margin: 0px auto;
  padding: 30px;
  background: #0d253c;
}
.footer-left-top {
  font-weight: 600;
  font-size: 44px;
  line-height: 60px;
  color: #FFFFFF;
}
.footer-left-top-title-2 {
  margin-top: 10px;
}
.footer-left-bottom {
  margin-top: 30px;
}
.footer-left-bottom-phone {
  width: 100%;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: 10px 0 -5px 0;
}
.footer-left-bottom-phone > * {
  float: left;
  margin-right: 10px;
  font-weight: normal;
  font-size: 22px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
.footer-left-bottom-phone i {
  color: #61798e;
  line-height: 20px;
  font-size: 16pt;
}
.footer-left-bottom-email {
  display: inline-block;
  width: 100%;
  color: white;
  height: 30px;
  margin-top: 15px;
}
.footer-left-bottom-email > * {
  float: left;
  line-height: 30px;
  height: 30px;
  margin-right: 10px;
}
.footer-left-bottom-email p {
  font-weight: normal;
  font-size: 22px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
.footer-left-bottom-email i {
  font-size: 16pt !important;
  color: #61798e;
  line-height: 23px;
  height: 30px;
}
#wave svg {
  /*! display: inline-block; */
  position: absolute;
  top: 0;
  left: 50%;
  transform: rotateX(180deg);
  height: 300px;
  transform: scaleX(780%);
}
#wave {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: -60px;
  right: 0;
  height: 100px;
  margin: 0;
  padding: 0;
  z-index: 4;
  transform: rotateX(180deg);
}

.footer-left-top-title-2 > a {
  color: #386BEE;
  /*! text-decoration: underline; */
  cursor: default;
  pointer-events: none;
}

.footer-bottom {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF94;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: inherit;
  justify-items: center;
}
.footer-bottom-left {
  text-align: left;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: left;
  gap: 60px;
}
.footer-bottom-left > p {
  height: max-content;
  margin-top: 48px;
}

.footer-bottom-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.footer-bottom-right > p {
  cursor: pointer;
}

.footer-bottom-right > a {
  text-align: right;
  color: #FFFFFF94;
}